/*
html {
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg?crop=0.994xw:0.799xh;0.00160xw,0.195xh&resize=2048:*") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/

h1 {
  color: red;
  /* border: 1pt solid red; */
  text-align: center;
}

.gameboard, .scoreboard, .resetButton {
  border: 1pt solid red;
  text-align: center;
}

.resetButton {
  margin: 10px;
}