html {
  /* background: rgb(238, 238, 238); */
  background: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/people-playing-paper-rock-scissors-royalty-free-illustration-1583269312.jpg?crop=0.994xw:0.799xh;0.00160xw,0.195xh&resize=2048:*") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* @media rule that applies a nice layout to large screens.  */
@media (min-width: 1000px) {
  body {
    width: 1000px;
    /* center body */
    margin: auto;
  }
}

body {
  margin-top: .5em;
  border-radius: 5px;
  background: white;
  padding: .5em;
  opacity: .93;
  box-shadow: -1px -1px 10px .1px rgba(0,0,0,0.47);

  font-family: 'Bungee Shade', cursive;
}

/* modify style of all the divs within the body */
body > div {
  border-radius: 5px;
  margin: 1em;
  padding: .5em;
}

/* center text */
.header, 
.gameboard_1, 
.scoreboard, 
.scoreboard > p,
.gameboard_1 > p,
.gameboard_2 > p,
.gameboard_3,
.play_again_button,
.reset_button {
  text-align: center;
}

/* Headers */
.header {
  background-color: rgb(217, 243, 252);
  background-size: cover;
  border: 2px solid black;
}

/* Scoreboard */
.scoreboard > div {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-weight: bold;
  border: 2px black;
  border-style: solid hidden solid hidden;
}

.scoreboard > h2 {
  font-size: x-large;
}

.scoreboard > div > p {
  margin: 1em;
  font-size: large;
}

/* gameboards */
[class^="gameboard"] {
  background-color: rgb(217, 243, 252);
  border: 2px solid black;
}

/* gameboard_1 */
/* rock, paper, scissors button selection */
.selection {
  margin: 1em;
  border: 4px solid darkgray;
  border-radius: 5px;
  background-color: white;
}

.selection:hover {
  background-color: #f3f3f3;
}

.selection:active {
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.20) inset;
}

.selection > p {
  margin: 1em;
  font-size: large;
  font-weight: bold;
  font-family: 'Bungee Shade', cursive;
  }

.selection > img {
  width: 12em;
  height: 12em;
  margin: -6px;
}

/* gameboard_2 */
.gameboard_2 {
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 360px;
}

.gameboard_2 > p {
  font-size: large;
}

#rock_animation {
  animation-duration: 1s;
  animation-fill-mode: forwards;
} 

#paper_animation {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#scissors_animation {
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

#shoot_animation {
  animation-delay: 3s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes appear_and_disappear {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(4);
    opacity: 100%;
    visibility: hidden;
  }
}

/* gamboard_3 */
.gameboard_3 {
  display: none;
  gap: 1em;
}

/* @media rule applied for larger than mobile screens. For enabling grid display on gameboard_3. */
@media (min-width: 470px) {
  .gameboard_3 {
    grid-template-columns: repeat(4, 1fr);
    font-size: large;
  }

  .gameboard_3 > h2 {
    grid-column: 1/5;
  }

  /* player choice */
  .gameboard_3 > div:nth-child(2) {
    grid-column: 2/3;
  }

  /* bot choice */
  .gameboard_3 > div:nth-child(3) {
    grid-column: 3/4;
  }

  /* play_again_button */
  .gameboard_3 > div:nth-child(4) {
    grid-column: 1/5;
  }
}

/* player and bot choice div */
.gameboard_3 > div:nth-child(2), .gameboard_3 > div:nth-child(3) {
  background-color: rgb(168, 233, 255);
  border-radius: 1em;
  /* border: 1pt solid darkgray; */
  font-weight: bolder;
}

.gameboard_3 img {
  width: 11em;
  height: 11em;
  border: 5px double gray;
  border-radius: 50px;
  background-color: lightgray;
}

/* buttons */
.play_again_button, .reset_button > button {
  font-weight: bold;
  padding: .5em 2em;
  margin: 1em;
  border-radius: 1em;

  font-size: 1em;
  font-family: 'Bungee Shade', cursive;
}

.play_again_button:hover, .reset_button > button:hover {
  background-color: #e7e5e5;
}